.center{
 position:absolute;
 left:40%;
 top:40%;
 margin:-100px 0 0 -150px;
 border: 2px solid black;
 border-radius: 15px 50px;
 padding-left: 20px;
 padding-right: 20px;
 width: 544px;
 background: white;
}

.mycheckbox{
  margin-top:5px;
  margin-left:5px;
}

.red{
 color: #ff0000;
}

body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url("image/mountains.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}