<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Salary calculator</title>
</head>
<body ng-app="calc">
<div class="bg">
    <div class="container" ng-controller="CalcController">
        <fieldset class="center">
            <h3>Net Salary Calculator</h3>
            <div class="row form-group">
                <label class="col-md-3">Country:</label>
                <label class="col-md-3" ng-repeat="country in countries">
                    <input name="country" ng-model="$parent.currency.country" ng-value="country"
                           type="radio"/> {{country}}
                </label>
            </div>
            <div class="row form-group">
                <label class="col-md-4">Exchange rate source:</label>
                <label class="col-md-4" ng-repeat="provider in providers">
                    <input name="pageNumber" ng-model="$parent.currency.providerName" ng-value="provider"
                           type="radio"/>
                    {{provider}}
                </label>
            </div>
            <div class="row form-group">
                <label class="col-md-4">
                    Check currency now:
                </label>
                <input class="mycheckbox col-md-1" ng-model="currency.noCache" type="checkbox"/>
            </div>
            <div class="row form-group">
                <label class="col-md-4">Gross salary per day:</label>
                <input class="input-sm col-md-4" ng-model="currency.grossSalary" type="number"/>
            </div>
            <div class="row form-group">
                <button class="btn btn-sm btn-info col-md-3 col-md-offset-2" ng-click="calcSalary()"
                        ng-disabled="!(currency.grossSalary => 0)">
                    Calculate salary
                </button>
                <button class="btn btn-sm btn-info col-md-3 col-md-offset-2" ng-click="clear()">Clear</button>
            </div>
            <div class="row" ng-if="!!calcResult">
                <div class="row form-group">
                    <label class="col-md-4 col-md-offset-2">Total net salary: </label>
                    <span class="col-md-4" ng-class="{red: calcResult.netSalary < 0}">
                    {{calcResult.netSalary}}
                </span>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 col-md-offset-2">Country currency code: </label>
                    <span class="col-md-4">{{calcResult.currency.curr}}</span>
                </div>
                <div class="row form-group">
                    <label class="col-md-4 col-md-offset-2">Exchange rate: </label>
                    <span class="col-md-4">{{calcResult.currency.value}}</span>
                </div>
                <div class="row form-group" ng-if="!!calcResult.currency.provider">
                    <label class="col-md-4 col-md-offset-2">Exchange rate source: </label>
                    <span class="col-md-4">{{calcResult.currency.provider}}</span>
                </div>
                <div class="row form-group" ng-if="!!calcResult.currency.obtainedAt">
                    <label class="col-md-4 col-md-offset-2">Exchange rate obtained at: </label>
                    <span class="col-md-4">{{calcResult.currency.obtainedAt | date:'dd-MM-yyyy HH:mm:ss'}}</span>
                </div>
            </div>

            <div class="red" ng-if="!!resultError">
                <label class="col-md-4 col-md-offset-2">Error calculating </label>
                <span class="col-md-4">{{resultError}}</span>
            </div>
        </fieldset>
    </div>
</div>
</body>
<script src="js/lib/angular.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/CalculatorService.js"></script>
<script src="js/app/CalculatorController.js"></script>
<link href="css/lib/bootstrap.min.css" rel="stylesheet"/>
<link href="css/app/app.css" rel="stylesheet"/>
</html>